*{
  margin: 0;
  padding: 0;
}

.app-container{
  
  margin: 0 auto;
  padding: 0 50px;
  background: rgb(155,185,190);
background: linear-gradient(180deg, rgba(155,185,190,1) 0%, rgba(155,185,190,1) 37%, rgba(253,239,214,1) 100%);

  
color: #253659;
}

/*tyopogtaphy*/
h1{
  text-align: center;
  font-weight: 500;
  padding: 1em 0.375em;
  margin: 1.5em 0 2em 0;
}

h3{
  text-align: center;
  font-weight: 400;
}

/*style the current container*/
.current-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em 0 5em 0;
  padding: 1em 0;
}

.current-info{
  display: flex;
}

.current-info p{
  margin: 0 1em;
  font-weight: light;
}


/*style the forecast section*/
.days-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.daily-info{
  display: flex;
  padding: 2em 0;
  justify-content: space-between;
}

.day-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-icon{
  align-self: center;
}

.info-date-comtainer{
  display: flex;
  flex-direction: column;
}


/*style navbar*/
.navigation{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 1.563em 0 1.563em 0;
  font-weight: bold;
  font-size: 1em;
  
}

.navigation a{
  margin: 0 0 0 10px;  
  text-decoration: none;
  color: #061838;
}

.navigation a:hover{
  color: #6495ed;
}

/*style form inputs*/
form{
  display: flex;
  justify-content: flex-end;
}

.text-input{
  height: 2em;
  margin: 0 0.625em;
  border-radius: 3px;
  border: 1px solid #061838;
  width: 13%;
  padding: 0 5px ;
}

.button-input{
  border-radius: 3px;
  border: 1px solid #061838;
  width: 8%;
  background-color: #E0DFE2;
}